
#one{
    background-image: url("gray2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    padding: 20px 80px 0px 80px;
    font-family: 'Merienda One', cursive;
    letter-spacing: 2px;
}
#two{
    font-family: 'Merienda One', cursive;
    height:98%  ;        
    background-color: white;
    box-shadow: 2px 2px 4px #000000;
    border-radius: 2%;
    letter-spacing: 2px;
}
.left{
    background-image: url("charokona.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    border-radius: 2%;
    
}
.left #back{
    color: rgb(247, 235, 235);
    font-size: 50px;
}
#back:hover{
    color: rgb(197, 186, 186);
}
#leftcontent{
    padding-top: 22%;
    color: rgb(247, 40, 40);
    text-align: center;
}
.left img{
    width: 130px;
    height: 130px;
    background: none;
    border-radius: 50%;
}
.left h1{
    text-shadow:  2px 2px 4px #666565;;

}
.content{
    height: 100%;
    
}
.right{
    padding-top: 12%;
}
.right h1{
    text-shadow:  2px 2px 4px #666565;
    color:rgb(22, 26, 63) ;
}

#input1{
    border-radius: 20px;
    background-color: rgb(238, 231, 231);
}
#input2{
    border-radius: 20px;
    background-color: rgb(238, 231, 231);
}
#form-button{
    border-radius: 20px;
    width: 100%;
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
.right .arrow{
     font-size: 20px;
}
.right .lock{
    font-size: 50px;
    color: rgb(231, 226, 226);
}
#link{
    
    text-decoration: underline;
}
.otherlogin{
    padding-left: 45%;
}

#icon1{
    border:2px solid rgb(22, 26, 63);
    background-color: white;
    color: rgb(177, 46, 57);
    border-radius: 50%;
}
#icon2{
    border:2px solid rgb(22, 26, 63);
    background-color: white;
    color: rgb(46, 55, 177);
    border-radius: 50%;
}
#icon1:hover{
   background-color: rgb(177, 46, 57);
   color: white;
}
#icon2:hover{
    background-color:  rgb(46, 55, 177);
    color: white;
}
@media only screen and (max-width: 600px) {
    #link {font-size: 12px;
    padding-left: 38px;
    }
    .otherlogin{
        padding-left: 35%;
    }
    .right{
        padding-top: 30%;
    }
}


